.container {
  width: 1200px;
  padding-left: 55px;
  padding-right: 55px;
  margin-left: auto;
  margin-right: auto;
}

.navLink {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #151d29;
  font-size: 18px;
}

.activeLink {
  composes: navLink;
  color: #e58b9d;
}
